# Entornos virtuales
.venv/
venv/
env/
ENV/

# Archivos de caché y compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Configuración de Streamlit
.streamlit/

# Entorno de desarrollo / IDE
.vscode/
.idea/

# Variables de entorno secretas (si llegas a usar .env)
.env
